[Desktop Entry]
Comment=Nilium Plasma Theme
Name=Nilium
X-KDE-PluginInfo-Author=David Linares (Mcder3)
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mcder3[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA
X-KDE-PluginInfo-Name=Nilium
X-KDE-PluginInfo-Version=3.4.0
X-KDE-PluginInfo-Website=https://twitter.com/mcder3
X-Plasma-API=5.0
